html, body{
    -webkit-overflow-scrolling: touch;
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
    &:hover{
        background: darken($primary-color, 15);
    }
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $light-gray inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $black;
}

.wrap {
    overflow: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
    > *{
        width: 100%;
    }
}

%linkline{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 1px;
    background: currentColor;
    width: 0;
}

a{
    transition: 200ms;
    position: relative;
    &:not(:only-child){
        &::before{
            @extend %linkline;
            left: -1px;
        }
        &::after{
            @extend %linkline;
            right: -1px;
            transition: 250ms;
            transition-delay: 0;
        }
        &:hover, &:focus{
            outline: none;
            &::before{
                transition: 250ms;
                width: calc(100% + 1px);
            }
            &::after{
                width: calc(100% + 1px);
                transition-delay: 250ms;
            }
        }
    }
}

.js-off-canvas-overlay{
    -webkit-tap-highlight-color: transparent;
}

blockquote{
    font-size: 32px;
    letter-spacing: 0.16px;
    // line-height: 1.35;
    margin: 0;
    cite{
        margin-top: 27px;
        font-family: $header-font-family;
        font-style: normal;
        letter-spacing: 2.75px;
        margin-bottom: 2px;
        b{
            display: block;
            font-size: 14px;
            letter-spacing: 3.49px;
            color: $primary-color;
            font-weight: normal;
        }
    }
}