button {
    outline: none;
    cursor: pointer;
    transition: 200ms;
}

.button{
    letter-spacing: 4.32px;
    min-width: 275px;
    &.hollow{
        letter-spacing: 2.4px;
        border-radius: 14px;
        min-width: auto;
    }
    &.small{
        letter-spacing: 3.14px;
        min-width: 230px;
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}