@font-face {
    font-family: 'Calluna';
    src: url('../assets/fonts/Calluna/Calluna-Regular.woff2') format('woff2'),
        url('../assets/fonts/Calluna/Calluna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calluna';
    src: url('../assets/fonts/Calluna/Calluna-It.woff2') format('woff2'),
        url('../assets/fonts/Calluna/Calluna-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans B 45';
    src: url('../assets/fonts/CoreSans/CoreSansB45Medium.woff2') format('woff2'),
        url('../assets/fonts/CoreSans/CoreSansB45Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'Core Sans B 35';
//     src: url('../assets/fonts/CoreSans/CoreSansB35Regular.woff2') format('woff2'),
//         url('../assets/fonts/CoreSans/CoreSansB35Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Core Sans B 45';
    src: url('../assets/fonts/CoreSans/CoreSansB55Bold.woff2') format('woff2'),
        url('../assets/fonts/CoreSans/CoreSansB55Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



