.form{
    font-family: $header-font-family;
    &_input{
        margin-bottom: 5px;
        @include breakpoint(small down){
            margin-bottom: 8px;
        }
    }
    input, textarea{
        letter-spacing: 4px;
        transition: 300ms;
        @include breakpoint(medium down){
            letter-spacing: 1.92px;
        }
        @include breakpoint(small down){
            font-size: 14px;
        }
        &.is-invalid-input{
            // background: inherit;
            &:not(:focus) + .form_button{
                background-color: get-color(alert);
            }
        }
    }
    textarea{
        min-width: 100%;
    }
    &_bottom{
        margin-top: 40px;
        @include breakpoint(medium down){ 
            margin-top: 24px;
        }
        @include breakpoint(small down){
            margin-top: 16px;
        }
    }
    &_button{
        position: absolute;
        right: 0;
        top: calc(50% - 11px);
        background-color: rgba($secondary-color, 0.4);
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2px;
        &:hover{
            background-color: $secondary-color;
            transition: 0.25s ease-in-out;
        }
    }
    &--email{
        width: 100%;
        max-width: 265px;
        position: relative;
        font-family: $body-font-family;
        input{
            font-size: 15px;
            letter-spacing: normal;
            padding: 0.7em 2em 0.44em 0;
            background: none;
            border-bottom: 1px solid rgba($secondary-color, 0.4);
            &.is-invalid-input{
                background: inherit;
            }
            &:focus{
                background: none;
                border-bottom: 1px solid $secondary-color;
            }
        }
    }
    &--login{
        max-width: 330px;
        margin: auto;
        .form{
            &_input{
                margin-bottom: 16px;
                @include breakpoint(small down){
                    margin-bottom: 8px;
                }
            }
            &_bottom{
                text-align: center;
                margin-top: 53px;
                @include breakpoint(small down){
                    margin-top: 24px;
                }
            }
        }
        .button{
            min-width: 200px;
        }
    }
}