%line{
    content: '';
    position: absolute;
    bottom: -4px;
    height: 2px;
    background: currentColor;
    width: 0;
}

.menu{
    font-family: 'Core Sans B 45';
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    &--header{
        justify-content: space-between;
        background: linear-gradient(to bottom, $white 50%, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0) 100%);
        padding: 52px 13px;
        @include breakpoint(medium down){
            z-index: 14;
            padding-top: 15px;
            padding: 15px 63px 24px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            + .menu{
                margin-top: 77px;
            }
        }
        @include breakpoint(768px down){
            padding: 15px calc(24px + (63 - 24) * (100vw - 640px) / (768 - 640)) 24px;
        }
        @include breakpoint(small down){
            padding: 15px 24px 24px;
        }
        // &.fixed{
            
        // }
        li{
            &:not([class^='header']){
                min-width: 142px;
                text-align: center;
                @include breakpoint(medium down){
                    display: none;
                }
            }
        }
        a{
            position: relative;
            display: inline-block;
            &::before{
                @extend %line;
                left: 0;
            }
            &::after{
                @extend %line;
                right: 0;
                transition: 300ms;
                transition-delay: 0;
            }
            &:hover, &:focus{
                outline: none;
                &::before{
                    transition: 300ms;
                    width: 100%;
                }
                &::after{
                    width: 100%;
                    transition-delay: 300ms;
                }
            }
            &.active{
                color: $black;
                font-weight: 600;
                &::before{
                    width: 100%;
                }
            }
        }
    }
    &--small{
        padding: 40px 15px 80px 0;
        margin-left: -13px;
        @include breakpoint(medium down){
            padding: 25px 63px 10px;
            margin-left: 0;
        }
        @include breakpoint(768px down){
            padding: 25px calc(24px + (63 - 24) * (100vw - 640px) / (768 - 640)) 10px;
        }
        @include breakpoint(small down){
            padding: 25px 24px 10px;
        }
        li:not([class^='header']){
            min-width: 170px;
        }
        a, .button{
            font-size: 15px;
            letter-spacing: 1.92px;
            border-radius: 17px;
        }
        .button{
            padding-left: 1.6em;
            padding-right: 1.6em;
        }
        .header_logo{
            max-width: 170px;
        }
    }
    &--lines{
        border-top: 1px solid rgba($secondary-color, 0.5);
        border-bottom: 1px solid rgba($secondary-color, 0.5);
        li{
            @include breakpoint(small down){
                width: 100%;
                max-width: 162px;
            }
        }
        justify-content: center;
        a, button:not(.button){
            min-width: 190px;
            text-align: center;
            padding: 0.7em 1em;
            color: $secondary-color;
            letter-spacing: 2.4px;
            transition: 300ms;
            @include breakpoint(medium down){
                min-width: 162px;
                padding: 0.5em 0.8em;
                letter-spacing: 1.44px;
            }
            @include breakpoint(small down){
                min-width: auto;
                width: 100%;
            }
            &:hover{
                background-color: rgba($light-gray, 0.8);
            }
            &.active{
                background-color: $primary-color;
                color: $white;
            }
        }
    }
    &--gray{
        li{
            @include breakpoint(small down){
                width: 50%;
            }
        }
        a{
            background-color: $light-gray;
            user-select: none;
        }
    }
    &--footer{
        justify-content: space-around;
        padding: 0 calc(((1140 - 950) / 2) * (100vw - 950px) / (1140 - 950) );
        @media screen and (min-width: 1146px){
            padding: 0 calc((1140px - 950px) / 2);
        }
    }
    &--mobile{
        &:not(.menu--small){
            max-width: 160px;
            margin: auto;
            text-align: center;
            margin-top: 74px;
        }
        @include breakpoint(small down){
            margin-top: 90px;
        }
        a, .button{
            font-size: 16px;
            padding: 0.65em 0.7em 0.55em;
            margin: 8px auto;
            border-radius: 19px;
        }
        a{
            &.active{
                color: $black;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
    a{
        color: $secondary-color;
        // &:hover{
        //     border-bottom: 2px solid;
        // }
    }
    .button{
        // font-size: 12px;
    }
}