%line{
    content: '';
    position: absolute;
    bottom: -4px;
    height: 2px;
    background: currentColor;
    width: 0;
}

.menu{
    font-family: 'Core Sans B 45';
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    &--header{
        padding: 52px 0;
        justify-content: space-between;
        a{
            position: relative;
            &::before{
                @extend %line;
                left: 0;
            }
            &::after{
                @extend %line;
                right: 0;
                transition: 300ms;
                transition-delay: 0;
            }
            &:hover, &:focus{
                outline: none;
                &::before{
                    transition: 300ms;
                    width: 100%;
                }
                &::after{
                    width: 100%;
                    transition-delay: 300ms;
                }
            }
            &.active{
                color: $black;
                font-weight: 600;
                &::before{
                    width: 100%;
                }
            }
        }
    }
    &--lines{
        border-top: 1px solid rgba($secondary-color, 0.5);
        border-bottom: 1px solid rgba($secondary-color, 0.5);
        justify-content: center;
        a, button:not(.button){
            min-width: 190px;
            text-align: center;
            padding: 0.7em 1em;
            color: $secondary-color;
            letter-spacing: 2.4px;
            transition: 300ms;
        }
        &:not([class*="--gray"]) {
            a, button:not(.button){
                &:hover{
                    background-color: rgba($light-gray, 0.8);
                }
            }
        }
    }
    &--gray{
        a{
            background-color: $light-gray;
        }
    }
    &--footer{
        justify-content: space-around;
        padding: 0 calc(((1140 - 950) / 2) * (100vw - 950px) / (1140 - 950) );
        @media screen and (min-width: 1146px){
            padding: 0 calc((1140px - 950px) / 2);
        }
    }
    a{
        color: $secondary-color;
        // &:hover{
        //     border-bottom: 2px solid;
        // }
    }
    .button{
        // font-size: 12px;
    }
}