.footer{
    margin-top: auto;
    @include breakpoint(medium down){
        padding: 0 63px;
    }
    @include breakpoint(768px down){
        padding: 0 calc(24px + (63 - 24) * (100vw - 640px) / (768 - 640));
    }
    @include breakpoint(small down){
        padding: 0 24px 16px;
    }
    &_inner{
        max-width: 980px;
        @include breakpoint(large){
            margin: auto;
        }
        @include breakpoint(small down){
            padding-top: 56px;
        }
    }
    &_cell{
        padding-top: 40px;
        padding-bottom: 48px;
        text-align: center;
        color: $secondary-color;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(medium down){
            font-size: 14px;
            padding: 24px 0 40px;
        }
        @include breakpoint(small down){
            font-size: 16px;
            padding: 0;
            & + & {
                padding-top: 32px;
            }
        }
        .small:not(.button){
            margin-bottom: auto;
            @include breakpoint(medium down){
                margin-bottom: 8px;
            }
        }
        b{
            font-family: $header-font-family;
            letter-spacing: 3px;
            font-size: 12px;
            color: $primary-color;
            @include breakpoint(medium down){
                letter-spacing: 1.44px;
            }
            @include breakpoint(small down){
                font-size: 14px;
                float: left;
                + a {
                    float: right;
                    line-height: 1;
                }
            }
        }
        a:not(.button){
            color: $secondary-color;
        }
        p{
            margin-bottom: 10px;
            @include breakpoint(small down){
                width: 100%;
                max-width: 270px;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    &_header{
        color: $black;
    }
}