.info{
    padding-bottom: 74px;
    &--gray{
        padding-top: 51px;
        background-color: rgba($light-gray, 0.8);
        @include breakpoint(medium down){
            padding: 32px 51px;
        }
        @include breakpoint(768px down){
            padding: 32px calc(12px + (51 - 12) * (100vw - 640px) / (768 - 640));
        }
        @include breakpoint(small down){
            padding: 40px 12px;
        }
    }
    &_inner{
        max-width: 980px;
    }
    &_item{
        & + & {
            @include breakpoint(small down){
                margin-top: 32px;
            }
        }
        &_icon{
            border-radius: 50%;
            display: table;
            margin: auto;
            overflow: hidden;
            margin-bottom: 18px;
            @include breakpoint(medium down){
                margin-bottom: 16px;
            }
        }
        &_title{
            text-align: center;
            // margin-bottom: 9px;
            text-transform: uppercase;
            @include breakpoint(medium down){
                letter-spacing: 1.92px;
            }
            @include breakpoint(small down){
                letter-spacing: 1.68px;
            }
        }
        &_descr{
            letter-spacing: 0.51px;
            color: $dark-gray;
            margin-bottom: 20px;
            @include breakpoint(medium down){
                font-size: 16px;
                letter-spacing: normal;
                margin-bottom: 12px;
            }
        }
        &_more{
            font-size: 12px;
            font-family: $header-font-family;
            letter-spacing: 3px;
            @include breakpoint(medium down){
                font-size: 14px;
                letter-spacing: 1.68px;
            }
        }
    }
}