mixin 3col(data)
    section.info&attributes(attributes)
        .grid-container.info_inner
            .grid-x.grid-margin-x.medium-up-3.small-up-1
                each item in data
                    .cell.info_item
                        .info_item_icon
                            picture
                                source(media='(max-width: 1024px)' srcset='https://via.placeholder.com/160/235885/ff00b7?text=ICON 2x, https://via.placeholder.com/80/235885/ff00b7?text=ICON 1x' )
                                source(srcset='https://via.placeholder.com/124/235885/ff00b7?text=ICON 2x, https://via.placeholder.com/62/235885/ff00b7?text=ICON 1x')
                                img(src="https://via.placeholder.com/62/235885/ff00b7?text=ICON", alt="ICON")
                        h3.info_item_title
                            =item.title
                        p.info_item_descr
                            !=item.descr
                        if item.link
                            a.info_item_more(href=item.link)
                                | LEARN MORE >