mixin 3col(data)
    section.info&attributes(attributes)
        .grid-container.info_inner
            .grid-x.grid-margin-x.large-up-3.medium-up-3
                each item in data
                    .cell.info_item(class=item.mod || false)
                        .info_item_icon
                            if item.icon
                                +icon(...item.icon)
                        h3.info_item_title
                            =item.title
                        p.info_item_descr
                            !=item.descr
                        if item.link
                            a.info_item_more(href=item.link)
                                | LEARN MORE >