section.grid-container.contacts
    .grid-x.grid-margin-x
        .cell.large-4.medium-5.medium-order-1.small-order-2
            h2.h3.contacts_header
                | CIANS ANALYTICS
            p.contacts_info
                | 750 Lexington Avenue, Floor 6
                br
                | New York, NY 10022
                br
                br
                a(href="mailto:info@ciansanalytics.com" target="_blank") info@ciansanalytics.com
                br
                a(href="tel:212.796.4067") 212.796.4067
        .cell.large-8.medium-7.medium-order-2.small-order-1
            img(srcset='https://via.placeholder.com/1232x828/b0b0b0/ff00b7?text=MAP+HERE 2x, https://via.placeholder.com/616x414/b0b0b0/ff00b7?text=MAP+HERE 1x' src="https://via.placeholder.com/616x414/b0b0b0/ff00b7?text=MAP+HERE", alt="VIDEO TO GO HERE")