section.equity
    .grid-container.equity_inner
        .grid-x.grid-margin-x
            .cell.large-4
                h2.h4
                    | PRIVATE EQUITY
                p.equity_descr
                    | With our solution, clients have the ability to enhance capacity on an "as-needed" basis when time and re&shy;sources are sparse.
                a.equity_more(href="#")
                    | LEARN MORE >
            .cell.large-8