header.grid-container.header
    +menu(['--header', 'simple'])
    if page == 'main'
        +menu(['--lines', '--gray'], [{
            content: 'RESEARCH',
            link: '#research',
            is_active: true
        },
        {
            content: 'DATA ANALYTICS',
            link: '#analytics',
        }])