header.grid-container.header
    +menu(['--header', 'simple', ...header_mod || ''])
    if page == 'main'
        +menu(['--lines', '--gray'], [{
            content: 'RESEARCH',
            link: '#research'
        },
        {
            content: 'DATA ANALYTICS',
            link: '#analytics',
            is_active: true
        }])