mixin lead(data)
    section.grid-container.leader
        .grid-x.grid-margin-x
            .cell.large-4.medium-4
                h1=data.header
            .cell.large-8.medium-8
                p.lead
                    !=data.lead