section.grid-container.mock
    .grid-x.grid-margin-x
        .cell.large-4.medium-4
            h2 TITLE HERE
        .cell.large-8.medium-8.mock_content
            .grid-x.grid-margin-x.large-up-2.medium-up-2
                p.cell
                    | Allow our teams to help you fnd the companies to invest in, evaluate new industries and deals quicker and do things more efciently so you can focus on transactions.
                p.cell
                    | Get instant access to deep dive analy&shy;sis expertise for your specifc interest and requirements for any industry or vertical.