svg(style="display:none")
    defs
        path#arrow(d='M425.857 1730.346l4.596 4.596-4.596 4.595' fill-opacity='0', stroke='#fff', stroke-miterlimit='50', transform='translate(-425 -1730)')
        
        g#close(fill-opacity='0' stroke-miterlimit='50' transform='translate(-863 -290)')
            path(d='M863.433 290.94l12.74 12.74')
            path(d='M876.173 290.94l-12.74 12.74')