block const
-
    const title  = `${name ?  `${name} - ` : ''}Cians`;
    const descr  = 'Description';
    const domain = 'cians.salex.pro'

//- Components
include components/_menu
include sections/_3col
include sections/_leader
include sections/_quote
include components/_icons

doctype html
html(lang="ru")
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
            include sections/_footer
            include components/_popup
        include components/_offcanvas
        block js
            script(src="./js/app.min.js")