extends ../_layout
block const
    -
        const page = 'careers'
        const name = 'Careers'
        const header_mod = ['--small']

block content
    section.content
        +lead({
            header: 'Careers',
            lead: 'Cians is a leading pure-play provider of research and analytics.'
        })(class="leader--wide")
        .grid-container
            .content_text
                p
                    | CIANS PRIDES ITSELF ON HIRING ONLY THE BRIGHTEST and most talented individuals in the industry. Our team hails from some of the finest world class financial institutions, including Goldman Sachs, JP Morgan, CitiGroup, UBS, and Lazard, and 88% of the staff members possess advanced degrees. Our focus is not only on hiring experienced and qualified individuals, but also on hiring the most capable individuals for each role. We are an employer of choice, and as such, we are able to attract the best candidates for each role.

                p
                    | Cians has a strong performance-driven culture. Our compensation philosophy falls within the top-quartile of the industry. We strongly emphasize performance-based pay to create the right incentive systems. We have a very strong focus on building domain knowledge and expertise.

                p
                    | While we utilize strong process knowledge to build our workflow processes and enhance efficiency, we also recognize that our key differentiation is our ability to hire the best people, and create the right culture and incentives to retain them.

                p
                    | We are growing rapidly as a firm and are constantly looking to add to our team. If you would like to be considered for a position at our firm, please write to us at careers@ciansanalytics.com.