extends ../_layout
block const
    -
        const page = 'main'
        const name = 'Home'

block content
    include ../sections/_reviews

    +3col([{
        icon: ['cians', [30, 30]],
        title: 'MISSION',
        descr: 'Cians Analytics provides high-quality, cost-efective research and analytical support to investment banks, private equity funds, corpo&shy;rates, and portfolio companies ...',
        link: './contact.html',
    },
    {
        icon: ['who', [47, 35]],
        title: 'WHO WE ARE',
        descr: 'Our team has pooled together a very strong set of individuals in their respective felds, and recruited primarily from top universities and professional services institutions ...',
        link: './who.html'
    },
    {
        icon: ['what', [42, 46]],
        title: 'WHAT WE DO',
        descr: 'Our value proposition lies in the fexibility of our engagement model, allowing clients to have complete control, while ultimately lowering costs. Lorem ipsum ...',
        link: './what.html'
    }])(class="info--gray")